<a href="https://colab.research.google.com/github/anishdulal/Linear-Regression/blob/master/FetureExtraction_20th_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#from google.colab import drive
#drive.mount('/content/gdrive')

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#open('/content/gdrive/My Drive/Price.csv')
#price1 = pd.read_csv(open('/content/gdrive/My Drive/Price.csv'))
price1 = pd.read_csv('Price.csv')

In [0]:
#Renaming title of columns
price = price1.rename(columns ={'कृषि उपज':'Name','ईकाइ':'Unit','न्यूनतम':'Min','अधिकतम':'Max','औसत':'Avg'})

def convert_value(column): #converting nepali numerical data into integers.
    r = []
    for i in column:
        #print(i)
        r.append(int(i))
    return r

price['Min'] = convert_value(price['Min'].tolist())
price['Max'] = convert_value(price['Max'].tolist())
price['Avg'] = convert_value(price['Avg'].tolist())

import datetime

price['cdate']=pd.to_datetime(price['cdate'])

dfw = price[price['pricetype'] == 'W']
dfr = price[price['pricetype'] == 'R']

In [0]:
price['Name'].nunique()

120

In [0]:
keradf = dfr[dfr['Name'] == 'केरा']
#keradf.head()

In [0]:
dfr = dfr.reset_index()
dfr = dfr.set_index('cdate')
#dfr.drop('index',axis=1)
dfr.head()

                            Name    Unit  Min  Max  Avg pricetype
cdate
2018-02-25  गोलभेडा ठूलो(नेपाली)  के.जी.   40   50   45         R
2018-02-25          गोलभेडा सानो  के.जी.   40   50   45         R
2018-02-25             अालु रातो  के.जी.   35   40   38         R
2018-02-25             अालु सेतो  के.जी.   30   35   33         R
2018-02-25   प्याज सुकेको भारतीय  के.जी.   60   70   65         R

In [0]:
#keradf['Avg'].plot.line()
#sns.set(rc={'figure.figsize':(20,10)})
#keradf['Avg'].plot(linewidth=0.5,c='black')

In [0]:
dfr.groupby(by = 'Name').mean().head()

                     Min         Max         Avg
Name
अंगुर(कालो)   281.875000  300.625000  291.250000
अंगुर(हरियो)  163.931298  178.893130  171.412214
अदुवा         170.013947  187.775453  178.896792
अनार          224.678977  241.661932  233.178977
अम्बा          54.318182   63.863636   59.136364

In [0]:
#vegetable = dfr['Name'].unique()
#for vegetable in dfr['Name'].unique():
#    if 'रायो साग' in vegetable:
#        dfsaag.append(dfr[dfr['Name'] == vegetable])
#dfsaag.info()
#dfsaag.plot.line()

In [0]:
#tomato = {}
#for vegetable in vegetables:
#    if ("गोलभेडा" in vegetable):
#        tomato[vegetable] = dfr[(dfr['Name'] == vegetable)]

In [0]:
dfr['Name'].unique()

array(['गोलभेडा ठूलो(नेपाली)', 'गोलभेडा सानो', 'अालु रातो', 'अालु सेतो',
       'प्याज सुकेको भारतीय', 'गाजर(लोकल)', 'बन्दा(लोकल)',
       'काउली स्थानिय', 'काउली तरार्इ', 'मूला रातो', 'मूला सेतो(लोकल)',
       'भन्टा लाम्चो', 'भन्टा डल्लो', 'मटरकोशा', 'घिउ सिमी(लोकल)',
       'टाटे सिमी', 'लौका', 'फर्सी पाकेको', 'फर्सी हरियो(लाम्चो)',
       'भिण्डी', 'बरेला', 'पिंडालू', 'स्कूस', 'रायो साग', 'पालूगो साग',
       'चमसूरको साग', 'तोरीको साग', 'मेथीको साग', 'प्याज हरियो', 'बकूला',
       'तरुल', 'च्याउ(कन्य)', 'ब्रोकाउली', 'चुकुन्दर', 'जिरीको साग',
       'ग्याठ कोबी', 'सेलरी', 'पार्सले', 'सौफको साग', 'पुदीना',
       'गान्टे मूला', 'इमली', 'तामा', 'तोफु', 'गुन्दुक', 'स्याउ(झोले)',
       'केरा', 'कागती', 'अनार', 'अंगुर(हरियो)', 'सुन्तला(नेपाली)',
       'तरबुजा(हरियो)', 'मौसम', 'भुर्इ कटहर', 'काक्रो(लोकल)', 'रुख कटहर',
       'नासपाती(लोकल)', 'मेवा(नेपाली)', 'लप्सी', 'अदुवा',
       'खु्र्सानी सुकेको', 'खु्र्सानी हरियो', 'भेडे खु्र्सानी',
       'लसुन हरियो', 'हरियो धनिया', 'लसुन सुकेको चाइनिज',
       'लसुन सुकेको नेपाली', 'माछा ताजा', 'रातो बन्दा', 'तितो करेला',
       'परवर(लोकल)', 'छ्यापी हरियो', 'बोडी(तने)', 'सजिवन', 'कोइरालो',
       'घिरौला', 'आँप(मालदह)', 'चिचिण्डो', 'न्यूरो', 'लीच्ची(लोकल)',
       'भटमासकोशा', 'झिगूनी', 'कुरीलो', 'अम्बा', 'सखरखण्ड',
       'छ्यापी सुकेको', 'च्याउ(डल्ले)', 'स्याउ(फूजी)', 'ताजा माछा(रहु)',
       'ताजा माछा(बचुवा)', 'ताजा माछा(छडी)', 'ताजा माछा(म\u200cंुगरी)',
       'गोलभेडा सानो(टनेल)', 'काक्रो(हाइब्रीड)', 'खुर्सानी हरियो(बुलेट)',
       'खुर्सानी हरियो(माछे)', 'खुर्सानी हरियो(अकबरे)', 'मकै बोडी',
       'घिउ सिमी(हाइब्रीड)', 'घिउ सिमी(राजमा)', 'हरियो फर्सी(डल्लो)',
       'अाँप(दसहरी)', 'तरबुजा(पाटे)', 'मेवा(भारतीय)', 'लीच्ची(भारतीय)',
       'आलु रातो(भारतीय)', 'सेतो मूला(हाइब्रीड)', 'बन्दा(नरिवल)',
       'आलु रातो(मुडे)', 'ठूलो गोलभेडा(भारतीय)', 'नासपाती(चाइनिज)',
       'गोलभेडा सानो(भारतीय)', 'सुन्तला(भारतीय)', 'गाजर(तराई)',
       'गोलभेडा सानो(तराई)', 'सुकेको प्याज चाइनिज', 'बन्दा(तराई)',
       'स्थानीय काउली(ज्यापु)', 'परवर(तराई)', 'अंगुर(कालो)'], dtype=object)

In [0]:
dfweek = dfr[dfr.index>='2020-02-07']
dfweek['Name'].nunique()
dfweek.groupby('Name')['Avg'].mean().head()

Name
अंगुर(कालो)     290.000000
अंगुर(हरियो)    190.000000
अदुवा           156.666667
अनार            190.555556
अालु रातो        49.222222
Name: Avg, dtype: float64

In [0]:
dfr.groupby('Name').mean().sort_values(by = 'Avg').head()

                       Min        Max        Avg
Name
मूला रातो        31.845238  41.666667  36.761905
अालु सेतो        40.895327  48.674766  45.007477
मूला सेतो(लोकल)  42.231520  51.966527  47.122734
बन्दा(लोकल)      43.054393  52.715481  47.916318
फर्सी पाकेको     43.319209  53.213277  48.275424

In [0]:
print(dfr[dfr['Name'] == 'गोलभेडा ठूलो(नेपाली)']['Avg'].value_counts())
dfr[dfr['Name'] == 'गोलभेडा सानो']['Avg'].value_counts()
#np.corrcoef(dfa['Avg'],dfb['Avg'])

65     137
45     126
95      93
55      92
85      77
75      55
105     48
125     32
115     16
58       4
48       3
63       3
90       3
110      2
50       2
135      2
52       1
185      1
68       1
165      1
77       1
43       1
Name: Avg, dtype: int64

45     192
35     113
55     105
65      90
85      50
75      36
95      32
105     20
38      19
43      11
125      9
115      8
53       5
48       4
63       3
135      2
58       2
68       2
70       2
110      2
33       2
30       1
32       1
28       1
60       1
126      1
100      1
21       1
Name: Avg, dtype: int64